<div className="about-page">
  <div id="home" className="container-fluid">
    <div className="container">
      <h1 class="tagline text-center">be ready!</h1>
    </div>
    <div className="text-center col-md-6 col-md-offset-3 col-xs-12">
      <br></br> 
      <br></br> 
    </div>
  </div>

  <div id="viewers" className="container-fluid">
    <h2 class="text-center">find out when your favorite streamers, bloggers, youtubers, or podcasters will be releasing something.</h2>
    <h3 class="text-center"> <a href="/home" class="see-upcoming-btn"> browse events </a> </h3> 
  </div>

  <!-- 
  <div id="creators" className="container-fluid">
  </div>
  -->

  <div id="how-to" className="container-fluid">
    <h2 class="text-center"> hey content creators, releasing anything soon? </h2>
    <h3 class="text-center"> <a href="#" data-toggle="modal" data-target="#loginModal" class="see-upcoming-btn">add event</a> </h3> 
    <br> 
    <ol>
      <li class="steps">click "Add event".</li>
      <li class="steps">fill in the details. </li>
      <li class="steps">done! :)</li>
    </ol>
  </div>


  <div id="discover" className="container-fluid">
    <h1 class="discover">discover</h1>
    <p class="text-center tag-sub">follow your favorites or create your own skedge.</p>
    <p class="text-center tag-sub">It's easy and free!</p> 
    <h3 class="text-center"> <a href="#" data-toggle="modal" data-target="#loginModal" class="see-upcoming-btn">log in</a> </h3> 
  </div>
</div>
