.login-modal-body{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-flex{
  background: #fff;
  padding: 20px;
  border: 1px solid #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-btn{
  background: #3B5998; 
}
